/** Add css rules here for your application. */

/** Will be used to render dialog elements to indicate that the user entered invalid data */
.validationFailedBorder {
	border-style: solid;
	border-color: red;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;s
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
